@{
    ViewData["Title"] = "About Us";
}
<div class="About_bg">
    <div class="container pt-5 text-light">
        <h1>About Us</h1>
    </div>
</div>

<div class="container mt-4 text-gray">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img class="img-fluid rounded" src="~/Images/img_1.jpg" alt="About Khumalo-Craft Emporium" />
        </div>
        <div class="col-12 col-md-6">
            <h2 class="my-3">About Khumalo-Craft Emporium</h2>
            <div class="line mb-3"></div>
            <p>In the heart of the digital age, where the world is just a click away, a visionary entrepreneur named James Khumalo dared to dream. He dreamt of a world where the beauty of handcrafted products could be appreciated globally, where artisans from every corner of the world could showcase their unique creations, and where discerning audiences could discover and cherish these masterpieces.</p>
            <p>Thus, KhumaloCraft Emporium was born.</p>
            <p>KhumaloCraft is not just an e-commerce platform; it’s a global stage for artisans. It’s a bridge that connects the creators of beautiful crafts with those who appreciate them. It’s a marketplace that celebrates the diversity of art and culture, and the skill and passion of the artisans.</p>
            <button type="button" class="btn btn-outline-secondary">Shop Now</button>
        </div>
    </div>
</div>