@{
    ViewData["Title"] = "Home Page";
}

<div class="home_bg  d-flex justify-content-center">
    <div class=" container align-content-center text-light">
        <h1 class="text-light">We Pride OurSelves on Manufacturing high Quality Products </h1>
        <p>Our unique Warehouse/Factory shop concept has been developed with 32 years of experience in the Furniture industry.</p>
      
        
        <a class="btn btn-outline-secondary" asp-controller="Products" asp-action="Index">Shop Now</a>
    </div>
</div>